<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/flatly/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<style>
.row {
  width: 500px;
  margin: 20px;
  font-family: Meiryo;
}
</style>
</head>
<body>
<form method="post">
  <div class="row">
    <h1>Node Chat チャットルーム</h1>
  </div>
  <p>ログインユーザ:<%= name %></p>
  <br>
  <textarea name="chat" cols="100" rows="5"></textarea>
  <div class="row">
    <input type="submit" value="投稿" class="btn btn-info">
  </div>
  <div class="row">
    loginUser
  </div>
  <div class="row">
    <input type="submit" value="退出する" class="btn btn-info">
  </div>
</form>
<div>
</body>
</html>