<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/bootswatch/3.0.3/flatly/bootstrap.min.css" rel="stylesheet">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript" charset="utf-8" >
  //id属性を使う場合
  $(function () {

    // var socket = io.connect();

    // $('#disconnect').on('click', function (){
    //   socket.emit('disconnect');
    // });
    // socket.on('taishutu',function (name){
    //   var $li = &('<li>',{text:name +"さんが退出しました"});
    //   $('#disconnectMsg').append($li);
    // });
    $('#connect').on('click', function (){

      alert("a");
      });
    //   socket.emit('connect');
    // socket.on('nyushutu',function (name){
    //   var $li = &('<li>',{text:name +"さんが入室しました"});
    //   $('#loginMsg').append($li);
  });
//onclickを使う場合
// function disconnect (){
//   socket.emit('disconnect');
// }
</script>

<style>
.row {
  width: 500px;
  margin: 20px;
  font-family: Meiryo;
}
</style>
</head>
<body>
<!--入室ボタン-->
<form method="post">
  <div class="row">
    <h1>Node Chat チャットルーム</h1>
  </div>
  <p>ログインユーザー:<%= name %></p>
  <br>
  <textarea name="chat" cols="100" rows="5"></textarea>
  <div class="row">
    <input type="submit" value="投稿" class="btn btn-info">
  </div>
  <div class="row">
    <ul id="disconnectMsg">
    </ul>
    <ul id="loginMsg">
    </ul>
  </div>
</form>

<!--退出ボタン-->
<form method="post" action="/">
  <div class="row">
    <!--  onClickを使う場合
    <input type="submit" value="退出する" class="btn btn-info" onclick="disconnect()">
    -->
    <!-- id属性を使う場合 -->
    <input type="submit" value="退出する" class="btn btn-info" id="disconnect">
  </div>
</form>
</script>
</body>
</html>