<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
</head>
<body>
<form method="POST">
  <div>
    <h1>Sample3</h1>
  </div>
  <div>
    <%= label %>
    <input type="buton" label="入力">
  </div>
</form>
<div>
</body>
</html>